<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

  <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/img/favicons/manifest.json">
  <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#111111">
  <link rel="shortcut icon" href="/img/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#111111">
  <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#111111">
  </head>
  <body>
    <img class="logo" srcset="img/logo.png, img/logo@2x.png 2x" src="img/logo.png" alt="" width="100" height="100">
    <div class="card">
      <div class="build-info">
        <div>
          <span class="big dark">BUNDLESIZE_GITHUB_TOKEN: </span>
          <span class="big dark">#{token}</span>
        </div>
        <div class="light">Add this as an environment variable in your CIs project settings</div>
      </div>
      <div class="files">
        <div class="labels desktop">
          <div class="light label path">GUIDES</div>
        </div>
        <div class="guides">
          <div><a href="https://docs.travis-ci.com/user/environment-variables/#Defining-Variables-in-Repository-Settings">travis CI</a></div>
          <div><a href="https://circleci.com/docs/1.0/environment-variables/#setting-environment-variables-for-all-commands-without-adding-them-to-git">circle CI</a></div>
          <div><a href="http://devcenter.wercker.com/docs/environment-variables/creating-env-vars">wercker CI</a></div>
        </div>
      </div>
    </div>
  </body>
</html>
