<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  </head>
  <body>
    <img class="logo" src="https://cdn.rawgit.com/siddharthkp/bundlesize/master/art/logo.png"/>
    <div class="card">
      <div class="build-info">
        <div>
          <span class="big dark">BUNDLESIZE_GITHUB_TOKEN: </span>
          <span class="big dark">#{token}</span>
        </div>
        <div class="light">Add this as an environment variable in your CIs project settings</div>
      </div>
      <div class="files">
        <div class="labels desktop">
          <div class="light label path">GUIDES</div>
        </div>
        <div class="guides">
          <div><a href="https://docs.travis-ci.com/user/environment-variables/#Defining-Variables-in-Repository-Settings">travis CI</a></div>
          <div><a href="https://circleci.com/docs/1.0/environment-variables/#setting-environment-variables-for-all-commands-without-adding-them-to-git">circle CI</a></div>
          <div><a href="http://devcenter.wercker.com/docs/environment-variables/creating-env-vars">wercker CI</a></div>
        </div>
      </div>
    </div>
  </body>
</html>
