html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #F5F7FA;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
.logo {
  display: block;
  height: 100px;
  margin: 50px auto;
}
.big {
  font-size: 25px;
}
.dark {
  color: #192235;
}
.light {
  color: #969FA5;
}
.card {
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 2px rgba(201, 214, 255, 0.15);
}
.files {
  margin: 50px 0;
}
.files .label {
  display: inline-block;
  font-size: 12px;
}
.file {
  margin: 25px 0;
}
.file > div {
  display: inline-block;
}
.path {
  width: 20%;
}
.threshold {
  width: 50%;
}
.size {
  text-align: right;
  width: 15%;
}
.master {
  text-align: right;
  width: 10%;
}
.bar {
  height: 7px;
  background: #EEE;
  border-radius: 10px;
  width: 100%;
}
.bar.first {
  background: #4680FF;
  z-index: 2;
  position: relative;
  top: 7px;
}
.guides {
  line-height: 2;
}

.mobile {
  display: none;
}
@media (max-width: 800px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
  .path {
    width: 50%;
  }
  .threshold {
    width: 100%;
    padding: 10px 0;
  }
  .size, .master {
    width: 100%;
    text-align: left;
  }
}
